@section scripts
{
    <script src="~/Scripts/angular-app/ctrl/user.ctrl.js"></script>

    <script type="text/javascript">
        var $table = $('#tblGrid');

        $(function () {
            $table.bootstrapTable();
        });

        function actionsFormatter(value, row, index) {
            return [
                '<button class="btn btn-info dim act-sendConfirm btn-tiny" data-toggle="tooltip" data-placement="top" title="Reenviar correo de confirmación" type="button"><i class="fa fa-mail-forward"></i></button>&nbsp;&nbsp;',
                '<button class="btn btn-success dim act-edit btn-tiny" data-toggle="tooltip" data-placement="top" title="Editar información del usuario" type="button"><i class="fa fa-edit"></i></button>&nbsp;&nbsp;',
                '<button class="btn btn-danger dim act-delete btn-tiny" data-toggle="tooltip" data-placement="top" title="Eliminar usuario" type="button"><i class="fa fa-times-circle"></i></button>'
            ].join('');
        }


        window.upsert = function (id) {
            window.showUpsert(id, "#angJsjqGridId", "@Url.Action("Upsert", "CatUser", new {area = "Management"})", "#tblGrid");
        };
        window.actionEvents = {

            'click .act-edit': function (e, value, row) {
                window.upsert(row.Id);
            },
            'click .act-sendConfirm': function (e, value, row) {
                window.showConfirmService(row.Id, "#angJsjqGridId", "@Url.Action("Resend", "CatUser", new {area = "Management"})",
                    "Reenviar correo de confirmación", "¿Desea reenviar el correo de confirmación para este usuario? <br/>Esto sólo es posible si el usuario " +
                    "no ha activado su cuenta. <br/><br/><small>Nota: Esta acción genera una nueva contraseña para el usuario</small>", "#tblGrid");
            },
            'click .act-delete': function (e, value, row) {
                window.showObsolete(row.Id, "#angJsjqGridId", "@Url.Action("DoObsolete", "CatUser", new {area = "Management"})", "#tblGrid");
            }
        };
    </script>
}


<div class="content-wrapper">
    <h3>
        Usuarios
        <small>Administración de usuarios</small>
    </h3>
    <ol class="breadcrumb">
        <li>
            Administración/Empresas
        </li>
        <li class="active">Usuarios</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <fieldset>
                <legend><i class="fa fa-users"></i> &nbsp; Administración de usuarios</legend>
            </fieldset>
        </div>
        <div class="panel-body">
            <div class="wrapper wrapper-content" id="angJsjqGridId" data-ng-controller="modalDlgController as vm">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="toolbar">
                            <button class="btn btn-success" onclick=" window.upsert() ">
                                <i class="fa fa-plus"></i> Agregar
                            </button>
                        </div>
                        <table id="tblGrid"
                               data-url="@Url.Action("Grid", "CatUser", new {area = "Management"})"
                               data-height="auto"
                               data-side-pagination="server"
                               data-pagination="true"
                               data-page-list="[5, 10, 20, 50, 100, 200]"
                               data-search="true"
                               data-sort-name="UserName"
                               data-toolbar="#toolbar"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-show-export="true"
                               data-single-select="true"
                               data-show-footer="true"
                               data-id-field="Id">
                            <thead>
                                <tr>
                                    <th data-field="Id"  data-visible="false" data-card-visible="false" data-switchable="false">Identificador</th>
                                    <th data-field="UserName"class="col-xs-2" data-align="center" data-sortable="true" data-filter-control="input">Usuario</th>
                                    <th data-field="FullName"class="col-xs-3" data-align="center" data-sortable="true" data-filter-control="input">Nombre completo</th>
                                    <th data-field="Email"class="col-xs-3" data-align="center" data-sortable="true">Email</th>
                                    <th data-field="Role"class="col-xs-2" data-align="center" data-sortable="true">Perfil</th>
                                    <th data-field="Actions"class="col-xs-2" data-formatter="actionsFormatter" data-align="center" data-width="150px" data-events="actionEvents">Acción</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blocker" data-ng-show="working">
        <div>
            Procesando...<img src="~/Content/img/ajax_loader.gif" alt="" />
        </div>
    </div>
</div>
